.header {
  display: flex;
  justify-content: center;
  background: var(--gray-700);
  height: 12.5rem;
}

.header img {
  align-self: center;
  height: 3rem;
}

.form {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: calc(0px - 1.5rem - 6px);
}

.form input {
  background: var(--gray-400);
  height: 3.5rem;
  width: 39.8rem;
  padding: 1rem;
  border-radius: 8px;
  border: 0;
  outline: 0;
  resize: none;


  color: var(--gray-300);
  font-size: 1rem;
}

.form button {
  background: var(--blue-dark);
  color: var(--gray-100);
  border: 0;
  border-radius: 8px;
  
  padding: 1rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  transition: color 0.1s, background-color 0.1s 
}
.form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.form button:not(:disabled):hover {
  background: var(--blue-light);
}

.tasks {
  margin: 4rem auto;
  width: 46rem;
}

.tasks main {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-400);
  padding-bottom: 1.5rem;
}

.tasks > main span {
  background: var(--gray-400);
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--gray-200);
  border-radius: 8px;
  padding: 0.12rem 0.75rem;
}

.tasks .completedTasks, .listTasks {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tasks .listTasks strong {
  color: var(--blue-light);
  font-size: 0.875rem;
  font-weight: 700;
}

.tasks .completedTasks strong {
  color: var(--purple);
  font-size: 0.875rem;
  font-weight: 700;
}


